doctype html
html(lang='ru')
  head
    include head
  body

    div.container
      div.row
        div.col

          div#app

            div.form-group.row
              label.col-sm-3.col-form-label(for='inputWord') Незнакомое слово
              div.col-sm-9
                input.form-control-plaintext#inputWord(type="text" placeholder="Незнакомое слово" v-model="searchWord")

            div.translation Перевод: {{ searchResult[0] }}
            div.context Контекст: {{ searchResult[1] }}

            my-component

    include script